<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default"
         connectionString="server=mysql3.sqlpub.com;port=3308;database=wpf2026;user=mycity;password=2EoozLnaXukRmRxj"
         providerName="MySqlConnector" />
  </connectionStrings>
</configuration>
